body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

a {
  background-color: grey;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 10pt;
}

#featured-property > p {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#details {
  display: block;
}
